
lab_6_egor/index.php
lab_6_egor/goals.php
lab_6_egor/donations/update.php
lab_6_egor/donations/add.php
lab_6_egor/donations.php
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.min.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.min.js
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.js
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.esm.min.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.esm.min.js
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.esm.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.esm.js
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js.map
lab_6_egor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.rtl.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.rtl.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-utilities.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-reboot.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.css.map
lab_6_egor/bootstrap-5.0.2-dist/css/bootstrap-grid.css
lab_6_egor/assets/youtube.svg
lab_6_egor/assets/twitter.svg
lab_6_egor/assets/trust-banner-logos-ad037b66.png
lab_6_egor/assets/snapchat.svg
lab_6_egor/assets/linkedin.svg
lab_6_egor/assets/instagram.svg
lab_6_egor/assets/facebook.svg
lab_6_egor/assets/cw-logo-dark-5101cbac.svg
lab_6_egor/assets/assets_2fe4147bb8c843bb8ebba475c8973899_f3499da6d2cd4e62b1d470e554f2e079.png
lab_6_egor/assets/assets_2fe4147bb8c843bb8ebba475c8973899_f19fac5de94e4abfb5108d962b334075.png
lab_6_egor/assets/assets_2fe4147bb8c843bb8ebba475c8973899_27bc7502bdb54b2991fed68b390aa85c.png
lab_6_egor/assets/assets_2fe4147bb8c843bb8ebba475c8973899_04fd6cb1d8f949f5bcf74076c232a4e7.jpg
lab_6_egor/.core/index.php
lab_6_egor/.core/header.php
lab_6_egor/.core/goals_table.php
lab_6_egor/.core/footer.php
lab_6_egor/.core/donations_table.php
lab_6_egor/.core/donations_logic.php
lab_6_egor/.core/donations_actions.php
lab_6_egor/.core/delete_donation.php
lab_6_egor/.core/db.php
