.circle {
    width: 20px;
    height: 20px;
    background-color: #acacac;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    text-align: center;
    font-size: small;
}

.small-font {
    font-size: small;
}

.big-font {
    font-size: large;
}

.border-dashed-bottom {
    border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
}




